/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/Assets/AssetStoreTools*
/.vs/
/.idea/

/*.csproj
/*.unityproj
/*.booproj
/*.sln
/*.suo
/*.tmp
*.user
*.userprefs
/*.pidb
/*.svd
/*.DotSettings

/ProjectSettings/ProjectVersion.txt
/Packages/*
/UnityPackageManager/*
/UserSettings/*

### ETServer ###
/ETServer/.idea/
/ETServer/.vs/
/ETServer/Server/.idea/
/ETServer/Server/.vs/
/ETServer/[Bb]in/
/ETServer/[Ll]ibrary/
/ETServer/[Tt]emp/
/ETServer/[Oo]bj/
/ETServer/[Ll]ogs/
!/ETServer/Server/*.sln
/ETServer/Server/App/obj/*
!/ETServer/Server/App/obj/project.assets.json
/ETServer/Server/Hotfix/obj/*
!/ETServer/Server/Hotfix/obj/project.assets.json
/ETServer/Server/Model/obj/*
!/ETServer/Server/Model/obj/project.assets.json
/ETServer/Server/ThirdParty/Google.Protobuf/obj/*
!/ETServer/Server/ThirdParty/Google.Protobuf/obj/project.assets.json
/ETServer/Server/ThirdParty/KcpLib/obj/*
!/ETServer/Server/ThirdParty/KcpLib/obj/project.assets.json
/ETServer/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj/*
!/ETServer/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.GridFS/obj/project.assets.json
/ETServer/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/*
!/ETServer/Server/ThirdParty/MongoDBDriver/MongoDB.Driver.Core/obj/project.assets.json
/ETServer/Server/ThirdParty/MongoDBDriver/MongoDB.Bson/obj/*
!/ETServer/Server/ThirdParty/MongoDBDriver/MongoDB.Bson/obj/project.assets.json
/ETServer/Server/ThirdParty/MongoDBDriver/MongoDB.Driver/obj/*
!/ETServer/Server/ThirdParty/MongoDBDriver/MongoDB.Driver/obj/project.assets.json


### 初始化项目 ###
/Release/
/Assets/Res/HotfixDLL/
#/Assets/Scripts/GameMain/Customs/CustomComponents/ILRuntime/Generated/
/Assets/Scripts/Editor/ProjectSetting/LinityProjectSetting.asset*
/Assets/StreamingAssets/*